<web-app>
<filter>
<filter-name>requestFilter</filter-name>
<filter-class>Filter.requestFilter</filter-class>
</filter>

<filter-mapping>
<filetr-name>requestFilter</filter-name>
<url-pattern>/*</url-pattern>
<dispatcher>INCLUDE</dispatcher>
<dispatcher>INCLUDE</dispatcher>
<dispatcher>INCLUDE</dispatcher>
</filter-mapping>
</web-app>